.profile{
    display: inline;
}
.profile img{
    width: 130px;
    height:130px;
    display: inline-block;
    margin: 20px 0 0 10px;
}
.profile_table{
    display: inline-block;
    margin-left: 20px;
    color: white;
    text-align: left;

}
th{
    color: #F05454;
}
td{
    border: none;
}

.outer_class{
    background-color: beige;
    padding: 15px;
    margin: 10px;
}

.inner_class{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}
input[type=text], select{
    width: 20%;
    margin: 5px 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit]{
    position: relative;
    left: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(243, 72, 72);
    color: white;
    border: 1px solid greenyellow;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #f72222;
}
@media screen and (max-width:200px) {
    div.profile img{
        width: 50px;
        height: 50px;
        display: none;
    }
} 

