<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Contact_Us.css">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="/" target="">Home</a></li>
            <li><a href="/add-data" target="">Add Data</a></li>
            <li><a href="/update" target="">Update Data</a></li>
            <li><a href="/remove" target="" style="background-color: white;color: black;">Remove Data</a></li>
            <li><a href="/st-details" target="">Student Details</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>DELETING STUDENT-DETAILS :</h2>
        <form action="" method="POST">
            <p style="color: red;">{{msg}}</p>
            <div class="fdiv1">
                <label for="fname"><strong>First Name:</strong></label>
                <input type="text" id="fname" name="fname" placeholder="Enter Student First name..."><br>
            </div>
            <div>
                <label for="lname"><strong>Last Name:</strong></label>
                <input type="text" id="lname" name="lname" placeholder="Enter Student Second name..."><br>
            </div>
            <div class="div_button"><button type="submit">Submit</button></div>
        </form>
    </div>
</body>
</html>