<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/details.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="/" target="">Home</a></li>
            <li><a href="/st-details" target="">Student Details</a></li>
            <li><a href="/contact-us" target="">Contact Us</a></li>
        </ul>
    </nav>
    <hr>
    <div class="outer_class">
        <h3>Search Student Here</h3>
        <div class="inner_class">
           <form action="" method="POST">
                <!-- <label for="sid"><b>SID:</b></label>
                <input type="text" id="sid" name="sid" placeholder="Enter Sid..."><br> -->
               <label for="Fname"><b>First Name:</b></label>
               <input type="text" id="Fname" name="Fname" placeholder="Enter First Name..."><br>
               <label for="Lname"><b>Last Name:</b></label>
               <input type="text" id="Lname" name="Lname" placeholder="Enter Last Name..."><br>
               <input type="submit" value="Submit">
           </form>
        </div>
    </div>
    <div>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Sl.NO</th>
                <th scope="col">Student Name</th>
                <th scope="col">Room No</th>
              </tr>
            </thead>
            <tbody>
                {% for data in students%}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{data[0]}} {{data[1]}}</td>
                <td>{{data[2]}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>